* {
  padding: 0;
  margin: 0;
}

a:not(.active) {
  text-decoration: none;
  color: black;
}

.active {
  color: #03a9f4;
  background-color: none !important;
}

body,
html {
  width: 100%;
  height: 100%;
}
